<!DOCTYPE html>
<html><head>
  
  <script><head>
  <link rel="stylesheet"
 href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css">
<!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="./static/css/map.css">

  </style>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
  
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
</head><body>
<div id="map">
<div id="buttons">Aqui los botones </div>
<div id="osm-map">
<script src="./static/js/map.js" type="text/javascript"></script> </div>
<div id="logos">
aqui los logos: CSIC, IFCA, UC, UIMP EU
</div>
</div>

</body></html>
